body {
    margin-top: 60px;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

#addthisbox {margin-bottom: 12px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}


.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar, div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    /* Issue 277 */
    border: 1px solid #aaa;
    border-radius: 5px;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b, .stMainServices, .stButton, .stButton_gradient {
    box-sizing: content-box;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
}

/* fix anchors for headers */
/*h1, h2, h3 {
    margin-top: -40px;
    padding-top: 60px;
    color: #404040;
}

h4, h5, h6 {
    margin-top: -50px;
    padding-top: 60px;
    color: #404040;
}*/

.image-block {
    display: inline-block;
}

.flowr_row {
    width: 100%;
}

.tags {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;

}

.tags > li {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.tags > li a {
    color: #fff;
}

.metadata p:before,
.postlist .listdate:before {
    content: " — ";
}

.metadata p:first-of-type:before {
    content: "";
}

.metadata p {
    display: inline;
}

.posttranslations h3 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}

.posttranslations h3:last-child {
    display: none;
}

.entry-content {
    margin-top: 1em;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-brand #blog-title {
    padding: 15px 0;
    display: inline-block;
}

.navbar-brand #logo {
    max-width: 100%;
}

.row {
    margin: 0;
}
/*.dropdown:hover .dropdown-menu {
    display: block;
 }*/

body {
    margin-top: 100px;
    background-color: #EFEFEF;
}


#idx-jumbo{
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    padding: 0px;
    height: 375px;
    padding-bottom: 20px;
}

.container{
    max-width: 960px;
    padding: 0px;
}

.idx-title{
    font-size: 45px;
    letter-spacing: -1px;
    margin: 0px;
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
}

.idx-subtitle{
    font-size: 22px;
    margin-top: 23px;
    margin-bottom: 11px;
    text-align: center;
    font-weight: 700;
    color: #777;
    padding-top: 0px;
    line-height: 1em;
}

.top-container{
}

#content{
    /*padding-top: 40px;*/
    padding-left: 0px;
    padding-right: 0px;
}

.navbar,
body{
    min-width: 250px;
}

.body-content{

}

.entry-content{
    margin-top: 0px;
}

.idx-image{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

img.photo{
    border: 3px solid;
    border-color: #666;
}

#idx-jumbo p{
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    padding: 0px 40px;
    text-align: left;
}

#idx-jumbo{
    height: 100%;
}

#jumbo-left{
    padding: 0px;
}


.panel-heading h3{
    font-size: 24px;
    text-align: center;
}

.idx-grid{
    padding-left: 10px;
    padding-right: 10px;
}

.idx-grid-right{
    padding-left: 10px;
    padding-right: 10px;
}
/*
#navbar-wrapper{
    max-width: 1100px;
}*/

.navbar-toggle{
    float: left;
    margin-left: 15px;
}

.navbar-header-brand{
    float: right;
}

.navbar-collapse{
    position: fixed;
    width: 100%;
}

.navbar-collapse.in{
    position: static;
}

.navbar-header{
    float: left;
}


.post-heading h3{
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.post-heading a{
    color: #555;
    font-weight: 600;
}

.navbar {
    background-image: linear-gradient(#181818, #3D3D3D 70%, #282828);
}

/*
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #242424;
}
*/

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #242424;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #999;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-image: linear-gradient(#383838, #4d4d4d 70%, #484848);
    background-color: transparent;
    color: #BBBBBB;
}

/*.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-image: none;
    background-color: #BBBBBB;
    color: #333333;
}*/


@media (max-width: 767px){
    /* Mobile, top-nav category, expanded.*/
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus{
        background-image: linear-gradient(#383838, #4d4d4d 70%, #484848);
        background-color: transparent;
        color: #BBBBBB;
    }

    /* Mobile, top-nav sub category, expanded, selected page.*/
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-image: linear-gradient(#383838, #4d4d4d 70%, #484848);
        background-color: transparent;
        color: #BBBBBB;
    }
}


/* Desktop, top-nav category, expanded.*/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    background-image: linear-gradient(#383838, #4d4d4d 70%, #484848);
    background-color: transparent;
    color: #FFFFFF;
}

/* Desktop, top-nav sub category, expanded, selected page.*/
.navbar-inverse .navbar-nav .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .dropdown-menu > .active > a:focus {
    background-image: linear-gradient(#E8E8E8, #EEEEEE 30%, #F8F8F8);
    background-color: transparent;
    color: #333333;
}


@media (min-width: 768px){
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
    margin-left: 0
    }
}

.navbar-brand #blog-title {
    color: #FFFFFF;
}
.navbar-brand #blog-title:hover {
    color: #999999;
}

.bio-alignright{
    float: right;
}

.bio-alignleft{
    float: left;
}